/* Estilos: Titulo de la WEB*/


/* Estilos: Menu */

.menuprincipal {
    list-style-type: none; 
    width: 100%;
    background-color: #757575;
    text-align: center;
}

.menuprincipal li {
    display: inline-block; 
    margin-right: 30px; 
}

.menuprincipal li a {
    text-decoration: none; 
    color: white; 
    padding: 10px;
    width: 150px;
    transition: background-color 0.3s, color 0.3s; 
}

.menuprincipal li a:hover {
    background-color: black; 
    color: white; 
}
