/* Estilos del cuerpo de la página */
body {
    background-image: url("fondocalcu.png");
    background-color: #34425e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

/* Estilos: Titulo de la WEB*/

.titulo h1 a {
    display: block;
    place-content: center;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    text-transform: uppercase;
    background-color: #34425e;
}

.titulo h1 a:hover {
    color: rgb(41, 228, 41);
    transform: scale(1)rotate(-3deg);
}

/* Estilos: Menu */

.menuprincipal {
    list-style-type: none;
    display: block;
    place-content: center;
    min-width: 98%;
    background-color: #757575;
    text-align: center;
    font-size: large;
    padding: 10px 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Helvetica;
}

.menuprincipal li {
    display: inline-block;
    margin-right: 20px;
}

.menuprincipal li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.menuprincipal li a:hover {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .menuprincipal {
        padding: 10px 0;
    }

    .menuprincipal li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Estilo caja principal de contenido */
.conteinerbase {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 1% 1% 1% 1%;
    border: 1px solid #7c7979;
    background-color: #cfd1d0;
}

/* Estilo: Summary  */

.operaciones h2 {
    font-family: Helvetica;
    text-align: center;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 18px;
    border: 1px solid #454545;
    padding: 10px;
    border-radius: 8px;
    font-family: Helvetica;
}

/* Estilo: botón del Summary */
.visualizar-ejemplos {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

/* Estilos: Boton al pasar el mouse */
.visualizar-ejemplos:hover {
    background-color: black;
}

/* Estilo: Detalles del summary */
details {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
}

.operacion>* {
    margin-left: 20px;
}

.operacion p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    font-family: Helvetica;
    text-align: justify;
    margin-right: 5%;
}

.operacion .ejemplos p {
    font-style: arial;
}

details[open] summary {
    color: black;
}


/* Estilos: Ejemplos del Summary */

.ejemplos {
    display: none;
}

.ejemplos.visible {
    display: block;
}

/* Estilos: Titulo del ejemplo*/

.operacion .ejemplos p strong {
    font-weight: bold;
    font-family: Helvetica;
}

/*Estilos calculadora*/
.contecalcu {
    position: sticky;
    max-width: 215px;
    height: 370px;
    margin: auto;
    padding: 1% 5% 2% 5%;
    border: 1px solid #757575;
    border-radius: 5px;
    background-color: #757575;
}

/* Estilos botones de calculadora */
.botnum {
    padding: 10px 10px 10px 10px;
    margin: 0%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-family: monospace;
}

.botnum:hover {
    color: #fff;
    background-color: black;
}

/* Estilos pantallas de calculadora */
.contemostra {
    position: sticky;
    width: 95%;
    height: 200 px;
    margin: 5% 1% 10% 1%;
    padding: 1% 1% 1% 1%;
    border: 1px solid #757575;
    background-color: #9cd3ae;
}

.mostrador {
    width: 98%;
    height: 30px;
    margin: 0% 10% 0% 0%;
    text-align: right;
    font-size: 16px;
    border: 0px;
    background-color: #9cd3ae;
}

.reserva {
    width: 60%;
    height: 20px;
    margin: 0% 10% 0% 0%;
    text-align: left;
    font-size: 12px;
    border: 0px;
    background-color: #9cd3ae;
}

.signo {
    width: 10%;
    height: 20px;
    margin: 0% 0% 0% 10%;
    text-align: right;
    font-size: 18px;
    border: 0px;
    background-color: #9cd3ae;
}

/* Estilos: Sección "Sobre Nosotros" */

.aboutus {
    padding: 20px;
    text-align: center;
}

.aboutus h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin: 0%;
    font-family: Helvetica;
}

.aboutus p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: Helvetica;
}

.aboutus dl {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: Helvetica;

}

.aboutus dl dd a {
    text-decoration: none;
    color: #4CAF50;
}

.aboutus dl dd a:hover {
    color: blueviolet;
    transform: scale(1)rotate(5deg);
}

.aboutus iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
}


@media screen and (max-width: 600px) {
    .aboutus {
        padding: 10px;
    }

    .aboutus h2 {
        font-size: 20px;
    }

    .aboutus p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .aboutus iframe {
        height: 200px;
    }
}



/* Estilos: Pie de la Página */

.piepagina {
    width: 100%;
    background-color: #757575;
    padding-top: 20px;
    padding-bottom: 20px;
}

.piepagina .part1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.piepagina .part1 .box {
    text-align: center;
}

.piepagina .part1 .box figure {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piepagina .part1 .box figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.piepagina .part1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: Helvetica;
}

.piepagina .part1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.piepagina .part1 .redsocial {
    text-align: center;
}

.piepagina .part1 .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #454545;
    text-align: center;
    transition: all 300ms ease;
}

.piepagina .part1 .redsocial a:hover {
    color: black;
}

.piepagina .part2 {
    background-color: #454545;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.piepagina .part2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .piepagina .part1 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .piepagina .part1 .box figure img {
        max-width: 250px;
    }
}