



.menu3 {
    list-style-type: none; 
    width: 100%;
    background-color: #757575;
    text-align: center;
}

.menu3 li {
    display: inline-flex; 
    margin: 0;
    padding: 0;
}

.menu3 li a {
    text-decoration: none; 
    color: white; 
    padding: 10px;
    width: 150px;
}

.menu3 li a:hover {
    color: black; 
}
